/*********************************
Global PIEtech Overrides & Additions to the base VARIABLES 
("variables.scss") for Bootstrap core & componentsUpdated: 11.17.16.0922
*********************************/
/// <reference path="../../Components/bootstrap/scss/variables.scss" />

// MGP Default Global Color Palette
// ------------------------------------
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 40.1%) !default; // #666
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest:          lighten($gray-base, 96%) !default;   // #f5f5f5

$brand-primary:          #3a7fc2 !default; // MGP Primary Dark Blue
$brand-secondary:        #66bb52 !default; // MGP Secondary Dark Green
$brand-tertiary:         #643f98 !default; // MGP Tertiary Dark Purple

$brand-primary-light:    lighten($brand-primary, 42%) !default; 

$brand-yodlee:			     #ecbe2d !default; // Yodlee Yellow
$brand-mymoneyguide:	   #48ade2 !default;

$brand-success:          #66bb52 !default; 
$brand-info:             #48ade2 !default;    // 48ADE2 MGP Light Blue
$brand-warning:          #f0ad4e !default;
$brand-danger:           #d9534f !default;			


// Scaffolding Styles
// ------------------------------------
// Global text color on <body>.
$text-color:            $gray-light !default;

// Background color for <footer>
$footer-bg:				        $gray !default;
$footer-text-color:				#fff !default;

// Global textual footer link color.
$link-color:                $brand-primary !default;
$link-color-heading-action: $link-color !default;

// Link hover color set via `darken()` function.
$link-hover-color:      		$brand-secondary !default; // was darken($link-color, 20%);
$font-color-for-darkBG:			#fff !default;

// For use on dark colored backgrounds:
$bg-light:				#fff !default;

//** Link hover decoration.
$link-hover-decoration: underline !default;


// Grid system
// ------------------------------------
// Navbar collapse - Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     992px !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;


// Typography
// ------------------------------------
$font-size-base:          14px !default;
$font-family-sans-serif:		"robotoregular", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-medium:	"robotomedium", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
/*$font-family-sans-serif-bold:	"robotobold", "Helvetica Neue", Helvetica, Arial, sans-serif;*/

// Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428591429 !default; // 20/14
// Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

// Font Icons
// ------------------------------------
$mgp-typography-path: "../../../../fonts" !default; 
$fmgp-filePath:       "../../fonts" !default;  // Font MGP Icon Font Path
$fa-font-path:        "../../fonts" !default;  // FontAwesome Icon Font Path
$icon-font-path:      "../../fonts/" !default;  // Bootstrap Icon Font Path - Needs a '/' at end of path since they didn't have it in path



// Headers
// ------------------------------------
$headings-font-family:    $font-family-sans-serif-medium !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$font-size-h1: floor(($font-size-base * 2.4)); // ~33px
$font-size-h2: floor(($font-size-base * 2.0)); // ~28px
$font-size-h3: ceil(($font-size-base * 1.6)); // ~23px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base; // ~14px
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px


// Global Top Navbar Overrides
// ------------------------------------
$border-radius-base:               4px !default;
$navbar-height:                    60px !default;
$navbar-margin-bottom:             0px !default; /*$line-height-computed;*/
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #666 !default;
$navbar-default-bg:                #f8f8f8 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary !default;


// Navbar links
// ------------------------------------
$navbar-default-link-color:                $gray-light !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            transparent !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;


// Navbar brand label
// ------------------------------------
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;


// Navbar toggle
// ------------------------------------
$navbar-default-toggle-hover-bg:           transparent !default; // puts a box around nav link
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


// Breadcrumbs
// ------------------------------------
$breadcrumb-bg:										#f5f5f5 !default;
$breadcrumb-color:                $text-color !default;
$breadcrumb-active-color:         $text-color !default;
$breadcrumb-link-color:           $link-color !default; //custom variable for links
//$breadcumb-client-font:					$font-family-sans-serif-medium !default;


// Active/Inactive Page Section Separators/Blocks
// -------------------------------------
$section-bar-background:                    lighten($brand-info, 33%) !default;
$section-bar-marker-background-highlighted: lighten($brand-primary, 5%) !default;
$section-bar-marker-background-completed:   lighten($brand-info, 25%) !default;
$section-bar-marker-background-incomplete:  #ddd !default;
$section-bar-active-page-title:             $brand-primary !default;
$section-bar-chervon-color:                 #aaa !default;
$section-bar-marker-color:                  #fff !default;

$section-bar-font-size: 1.15em !default;
$section-bar-chervon-font-size: 1.15em !default;


// Button Styles
// ------------------------------------
$btn-primary-color:              $font-color-for-darkBG !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-secondary-color:            $font-color-for-darkBG !default;
$btn-secondary-bg:               $brand-secondary !default;
$btn-secondary-border:           darken($btn-secondary-bg, 5%) !default;

$btn-tertiary-color:             $font-color-for-darkBG !default;
$btn-tertiary-bg:                $brand-tertiary !default;
$btn-tertiary-border:            darken($btn-tertiary-bg, 5%) !default;

$btn-default-color:              $btn-primary-color !default;
$btn-default-bg:                 $btn-primary-bg !default;
$btn-default-border:             $btn-primary-border !default;

$btn-positive-action-color:      $font-color-for-darkBG !default;
$btn-positive-action-bg:         $brand-secondary !default;
$btn-positive-action-border:     darken($btn-positive-action-bg, 5%) !default;

$btn-negative-action-color:      $font-color-for-darkBG !default;
$btn-negative-action-bg:         $brand-primary !default;
$btn-negative-action-border:     darken($btn-negative-action-bg, 5%) !default;

$btn-yodlee-color:				       $font-color-for-darkBG !default;
$btn-yodlee-bg:                  $brand-yodlee !default;
$btn-yodlee-border:              darken($btn-yodlee-bg, 5%) !default;

$btn-light-color:								 $gray-light !default;
$btn-light-bg:									 $bg-light !default;
$btn-light-border:               darken($bg-light, 5%) !default;

$btn-success-color:              $font-color-for-darkBG !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 $font-color-for-darkBG !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-warning-color:              $font-color-for-darkBG !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               $font-color-for-darkBG !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;


// Tooltips
// ------------------------------------

//** Tooltip max width
$tooltip-max-width:           350px !default;
//** Tooltip text color
$tooltip-color:               $gray-dark !default;
//** Tooltip background color
$tooltip-bg:                  #fff !default;
$tooltip-opacity:             .85 !default;
$tooltip-font-size:						1.15em !default;

$tooltip-border-radius:				5px !default;
$tooltip-padding:							15px !default;
$tooltip-shadow:							2px 2px 6px rgba(0,0,0,0.6) !default;
//** Tooltip arrow width
$tooltip-arrow-width:         5px !default;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg !default;


// List-groups
// ------------------------------------
//** Background color on `.list-group-item`
$list-group-bg:                 #fff !default;
//** `.list-group-item` border color
$list-group-border:             #ddd !default;
//** List group border radius
$list-group-border-radius:      $border-radius-base !default;

//** Background color of single list items on hover
$list-group-hover-bg:           #e7f3f9 !default;
//** Text color of active list items
$list-group-active-color:       $component-active-color !default;
//** Background color of active list items
$list-group-active-bg:          $component-active-bg !default;
//** Border color of active list elements
$list-group-active-border:      $list-group-active-bg !default;
//** Text color for content within active list items
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

//** Text color of disabled list items
$list-group-disabled-color:      $gray-light !default;
//** Background color of disabled list items
$list-group-disabled-bg:         $gray-lighter !default;
//** Text color for content within disabled list items
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         #555 !default;
$list-group-link-hover-color:   $list-group-link-color !default;
$list-group-link-heading-color: #333 !default;


// Iconography 
// ------------------------------------
$icon-client-selected-color: $brand-primary !default;
$icon-coclient-selected-color: $brand-secondary !default;


// Labels/Tags
// ------------------------------------
//** Default label background color
$label-default-bg:            $gray-light !default;
//** Primary label background color
$label-primary-bg:            $brand-primary !default;
//** Primary label background color
$label-secondary-bg:          $brand-secondary !default;
//** Primary label background color
$label-tertiary-bg:            $brand-tertiary !default;

//** Success label background color
$label-success-bg:            $brand-success !default;
//** Info label background color
$label-info-bg:               $brand-info !default;
//** Warning label background color
$label-warning-bg:            $brand-warning !default;
//** Danger label background color
$label-danger-bg:             $brand-danger !default;

// Give tags/labels an appearance less like our buttons
$label-border-radius:		  .10em !default;

//** Default label text color
$label-color:                 #fff !default;
//** Default text color of a linked label
$label-link-hover-color:      #fff !default;


// Panel Styles
// ------------------------------------
$panel-default-text:          $gray-dark !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-secondary-text:          #fff !default;
$panel-secondary-border:        $brand-secondary !default;
$panel-secondary-heading-bg:    $brand-secondary !default;

$panel-tertiary-text:          #fff !default;
$panel-tertiary-border:        $brand-tertiary !default;
$panel-tertiary-heading-bg:    $brand-tertiary !default;


// Callout Styles 
//-------------------------
$callout-border-left-width: 	5px !default;
$callout-border-radius:			3px !default;
$callout-padding:				15px !default;


// Table Styles
// ------------------------------------
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;

//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                #e7f3f9 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            #ddd !default;

$table-heading-text-color:      #444 !default;
$table-heading-bg-color:        rgba(195, 195, 195, 0.3) !default; //#efefef !default;
$table-fixed-heading-bg-color:  #fbfbfc !default;


// Progress bar styles
// ------------------------------------
//** Background color of the whole progress component
$progress-bg:                 #f5f5f5 !default;
//** Progress bar text color
$progress-bar-color:          #fff !default;
//** Variable for setting rounded corners on progress bar.
$progress-border-radius:      $border-radius-base !default;

//** Default progress bar color
$progress-bar-bg:             $brand-primary !default;
//** Secondary progress bar color
$progress-bar-secondary-bg:             $brand-secondary !default;
//** Tertiary progress bar color
$progress-bar-tertiary-bg:             $brand-tertiary !default;

//** Success progress bar color
$progress-bar-success-bg:     $brand-success !default;
//** Warning progress bar color
$progress-bar-warning-bg:     $brand-warning !default;
//** Danger progress bar color
$progress-bar-danger-bg:      $brand-danger !default;
//** Info progress bar color
$progress-bar-info-bg:        $brand-info !default;


// Carousel Styles
// ------------------------------------
$carousel-indicator-active-bg:                $brand-primary !default;
$carousel-indicator-border-color:             $gray-light !default;
$carousel-caption-color:                      $gray-light !default;


// Goals Styles
// ------------------------------------
$needs-goal-bg:     $brand-tertiary !default;
$wants-goal-bg:     $brand-secondary !default;
$wishes-goal-bg:    $brand-primary !default;

$goal-text:         $font-color-for-darkBG !default;


//Slider Styles
// ------------------------------------
$slider-bar-bg:     $brand-primary !default;


//Star Styles
// ------------------------------------
$star-color:        $brand-secondary !default;