@import "variables";

.fmgp-home-calendar-alt {
    &:before {
        content: $fmgp-home-calendar-alt;
    }
}
.fmgp-home-contact-book {
    &:before {
        content: $fmgp-home-contact-book;
    }
}
.fmgp-home-pencil-doc {
    &:before {
        content: $fmgp-home-pencil-doc;
    }
}
.fmgp-home-comments {
    &:before {
        content: $fmgp-home-comments;
    }
}
.fmgp-home-college-cap {
    &:before {
        content: $fmgp-home-college-cap;
    }
}
.fmgp-home-calendar {
    &:before {
        content: $fmgp-home-calendar;
    }
}
.fmgp-home-chain-link {
    &:before {
        content: $fmgp-home-chain-link;
    }
}
.fmgp-home-leaf {
    &:before {
        content: $fmgp-home-leaf;
    }
}
.fmgp-home-paw {
    &:before {
        content: $fmgp-home-paw;
    }
}
.fmgp-home-piggy-bank {
    &:before {
        content: $fmgp-home-piggy-bank;
    }
}
.fmgp-home-plus {
    &:before {
        content: $fmgp-home-plus;
    }
}
.fmgp-home-utensils {
    &:before {
        content: $fmgp-home-utensils;
    }
}
.fmgp-home-stethoscope {
    &:before {
        content: $fmgp-home-stethoscope;
    }
}
.fmgp-home-exclamation-triangle-o {
    &:before {
        content: $fmgp-home-exclamation-triangle-o;
    }
}
.fmgp-home-shirt {
    &:before {
        content: $fmgp-home-shirt;
    }
}
.fmgp-home-shirt-o {
    &:before {
        content: $fmgp-home-shirt-o;
    }
}
.fmgp-home-tennis-ball {
    &:before {
        content: $fmgp-home-tennis-ball;
    }
}
.fmgp-home-easel-live {
    &:before {
        content: $fmgp-home-easel-live;
    }
}
.fmgp-home-monitor-headset {
    &:before {
        content: $fmgp-home-monitor-headset;
    }
}
.fmgp-home-beach-ball {
    &:before {
        content: $fmgp-home-beach-ball;
    }
}
.fmgp-home-ghost {
    &:before {
        content: $fmgp-home-ghost;
    }
}
.fmgp-home-shield-user {
    &:before {
        content: $fmgp-home-shield-user;
    }
}
.fmgp-home-user-circle-arrow {
    &:before {
        content: $fmgp-home-user-circle-arrow;
    }
}
.fmgp-home-bar-graph-circle-o {
    &:before {
        content: $fmgp-home-bar-graph-circle-o;
    }
}
.fmgp-home-bar-graph-circle {
    &:before {
        content: $fmgp-home-bar-graph-circle;
    }
}
.fmgp-home-bar-graph-o {
    &:before {
        content: $fmgp-home-bar-graph-o;
    }
}
.fmgp-home-bar-graph-check {
    &:before {
        content: $fmgp-home-bar-graph-check;
    }
}
.fmgp-home-bullhorn-o {
    &:before {
        content: $fmgp-home-bullhorn-o;
    }
}
.fmgp-home-bullhorn-circle-arrow {
    &:before {
        content: $fmgp-home-bullhorn-circle-arrow;
    }
}
.fmgp-home-check-circle-o {
    &:before {
        content: $fmgp-home-check-circle-o;
    }
}
.fmgp-home-easel-gear-o {
    &:before {
        content: $fmgp-home-easel-gear-o;
    }
}
.fmgp-home-easel-gear {
    &:before {
        content: $fmgp-home-easel-gear;
    }
}
.fmgp-home-light-bulb-o {
    &:before {
        content: $fmgp-home-light-bulb-o;
    }
}
.fmgp-home-line-chart-square-o {
    &:before {
        content: $fmgp-home-line-chart-square-o;
    }
}
.fmgp-home-play-circle-o {
    &:before {
        content: $fmgp-home-play-circle-o;
    }
}
.fmgp-home-tools-o {
    &:before {
        content: $fmgp-home-tools-o;
    }
}
.fmgp-home-touch-screen-o {
    &:before {
        content: $fmgp-home-touch-screen-o;
        margin-bottom: -.5em;
    }
}

