$icomoon-font-path: "../fonts";
$fmgp-home-calendar-alt: "\e922";
$fmgp-home-contact-book: "\e923";
$fmgp-home-pencil-doc: "\e924";
$fmgp-home-comments: "\e921";
$fmgp-home-college-cap: "\e920";
$fmgp-home-calendar: "\e900";
$fmgp-home-chain-link: "\e917";
$fmgp-home-leaf: "\e918";
$fmgp-home-paw: "\e919";
$fmgp-home-piggy-bank: "\e91a";
$fmgp-home-plus: "\e91b";
$fmgp-home-utensils: "\e91c";
$fmgp-home-stethoscope: "\e91d";
$fmgp-home-exclamation-triangle-o: "\e91e";
$fmgp-home-shirt: "\e91f";
$fmgp-home-shirt-o: "\e915";
$fmgp-home-tennis-ball: "\e916";
$fmgp-home-easel-live: "\e913";
$fmgp-home-monitor-headset: "\e914";
$fmgp-home-beach-ball: "\e90b";
$fmgp-home-ghost: "\e90c";
$fmgp-home-shield-user: "\e90d";
$fmgp-home-user-circle-arrow: "\e90e";
$fmgp-home-bar-graph-circle-o: "\e901";
$fmgp-home-bar-graph-circle: "\e90f";
$fmgp-home-bar-graph-o: "\e902";
$fmgp-home-bar-graph-check: "\e910";
$fmgp-home-bullhorn-o: "\e903";
$fmgp-home-bullhorn-circle-arrow: "\e911";
$fmgp-home-check-circle-o: "\e904";
$fmgp-home-easel-gear-o: "\e905";
$fmgp-home-easel-gear: "\e912";
$fmgp-home-light-bulb-o: "\e906";
$fmgp-home-line-chart-square-o: "\e907";
$fmgp-home-play-circle-o: "\e908";
$fmgp-home-tools-o: "\e909";
$fmgp-home-touch-screen-o: "\e90a";

